# Estudo de CI Workflow
name: Estudo de CI Workflow

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
  workflow_dispatch: 

jobs:
  estudo_condicional:
    strategy:
      fail-fast: true
      matrix:
        os: [windows-latest,ubuntu-latest]
        include:
          - os: windows-latest
            experimental: true
    runs-on: ${{matrix.os}} 

    steps:
      - name: Echo no Windows
        if: matrix.os == 'windows-latest'
        env:
          shell: pwsh
        shell: bash
        run: echo "Rodando no WIndows com o shell $shell"

      - name: Echo no Linux
        if: matrix.os == 'ubuntu-latest'
        env:
          shell: bash
        run: echo "Rodando no Linux com o shell $shell"

      - name: Verificando variavel 'Experimental'
        if: matrix.experimental == true
        run: echo 'Experimental é True'

      - name: Quebrando o código
        run: exit 1

      - name: Testando o 'if' avançado
        if: failure() && matrix.experimental == true
        shell: bash
        run: echo "Conseguimos ativar o 'failure' da condicional 'if' do arquivo YAML'
      
    
